<div class="with-sorting" ng-cloak>
    @*<h4>@Html.Translate("/common/productlist/filters_title") <a href="javascript:;" class="visible-xs glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#id8971263"> </a></h4>*@

    <span ng-repeat="facetType in facets track by $index" ng-switch on="facetType.Definition.RenderType">
        @*Numeric Range facets*@
        <section class="filter-section" ng-show="facetType.Definition.RangeResult.length > 0" ng-switch-when="FacetNumericRangeDefinition">
            <h3>{{facetType.Definition.DisplayName}}</h3>
            <div ng-show="facet.Count > 0" ng-repeat="facet in facetType.Definition.RangeResult track by $index">
                <div>
                    <div class="price-btns">
                        <button class="btn btn-sm" ng-class="facet.Selected ? 'btn-success' : 'btn-default'" ng-click="updateRangeFacetsSelections($event, facet.Id, facetType.Definition.Name)"><span ng-bind="facet.From" ng-show="facet.From !=null"></span><span>-</span><span ng-bind="facet.To" ng-show="facet.To !=null"></span></button>
                        ({{facet.Count}})
                    </div>
                </div>
            </div>
        </section>

        <section class="filter-section" ng-show="facetType.Definition.TermsList.length > 0" ng-switch-default>
            @*String list facets*@
            <h3>{{facetType.Definition.DisplayName}}</h3>
            <div ng-repeat="facet in facetType.Definition.TermsList track by $index">
                <label class="checkbox" for="{{facet.Term}}">
                    <input type="checkbox" name="{{facet.Term}}" id="{{facet.Term}}" ng-click="updateStringFacetsSelections($event, facet.Term,facetType.Definition.Name)" ng-model="facet.Selected" />
                    {{facet.Term}} ({{facet.Count}})
                </label>
            </div>
        </section>

    </span>

</div>
