.video-container {
  position: relative;
  padding-bottom: 43%;
  padding-top: 31px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed,
.video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-container a {
  color: black;
}
.banner-container {
  position: relative;
}
.banner-container .caption {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  padding-right: 1em;
  font-size: 2em;
  font-size: 2vw;
}
.col-sm-12 .banner-container .caption {
  font-size: 2em;
  font-size: 2vw;
}
.col-md-4 .col-sm-4 .banner-container .caption {
  font-size: 12px;
}
/*@fontSerif: "Georgia", "Serif";*/
.product-list,
.productRow {
  margin-bottom: 15px;
}
.product-list h2,
.productRow h2 {
  /*margin-bottom: 1em;*/
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}
.product-list .productFullWidthHeader,
.productRow .productFullWidthHeader {
  font-size: 1.5em;
  margin-top: 1.5em !important;
}
.product-list .three .product:nth-child(3n+1),
.productRow .three .product:nth-child(3n+1) {
  clear: left;
}
.product-list .three .footer .price-label,
.productRow .three .footer .price-label {
  visibility: hidden;
}
.product-list .five .product:nth-child(5n+1),
.productRow .five .product:nth-child(5n+1) {
  clear: left;
}
.product-list .five .product,
.productRow .five .product {
  width: 20%;
}
.product-list .five .product .name,
.productRow .five .product .name {
  font-size: 16px;
}
.product-list .five .rate,
.productRow .five .rate {
  visibility: hidden;
}
.product-list .five .wishlist-btn,
.productRow .five .wishlist-btn {
  visibility: hidden;
}
.product-list .five .price-label,
.productRow .five .price-label {
  height: 24px;
  font-size: 1em;
  padding: 2px;
  /*&.member-price {
                text-decoration: none;
                -webkit-border-radius: 0 0 0 0;
                -moz-border-radius: 0 0 0 0;
                border-radius: 0 0 0 0;
            }*/
}
.product-list .five .price-label.old-price,
.productRow .five .price-label.old-price {
  top: 24px !important;
}
.product-list .five .price-label.old-price-third,
.productRow .five .price-label.old-price-third {
  top: 48px !important;
}
.product-list .five .price-label.member-price-secondary,
.productRow .five .price-label.member-price-secondary {
  top: 24px;
}
.product-list .five .badges,
.productRow .five .badges {
  visibility: hidden;
}
.product-list .tile,
.productRow .tile {
  margin-bottom: 20px;
  position: relative;
}
.product-list .tile h3,
.productRow .tile h3 {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.product-list .tile h3 a,
.productRow .tile h3 a {
  text-decoration: none;
  color: black;
}
.product-list .tile .image,
.productRow .tile .image {
  text-align: center;
  margin-bottom: 1em;
}
.product-list .tile img,
.productRow .tile img {
  margin: 0 auto;
  max-height: 252px;
  width: auto;
  /*position:absolute;
    left:0;
    top:0;*/
}
.product-list .tile .newitemtext,
.productRow .tile .newitemtext {
  /*text-align: center;*/
  color: #999;
  background-color: #f0f0f0;
  padding: 5px 10px;
  /*margin-top: -40px;*/
  position: absolute;
  /*font-size:24px;*/
  font-weight: bold;
  left: 10px;
  top: 200px;
}
.product-list .tile .price,
.productRow .tile .price {
  font-size: 16px;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}
.product-list .tile .add-to-cart-form,
.productRow .tile .add-to-cart-form {
  text-align: center;
}
.product-list-page {
  margin-top: 30px;
}
.product-list-page h1 {
  line-height: 28px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  padding-right: 55px;
}
.product-list-page h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
}
.product-list-page h4 {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 16px;
}
.product-list-page .checkbox-list {
  border-top: 1px solid #dedede;
  padding: 12px 0;
  margin-bottom: 20px;
}
.product-list-page label {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  margin: 0 0 10px;
}
.product-list-page .top-controls {
  float: right;
  margin-top: -37px;
}
.product-list-page .collection {
  margin-bottom: 20px;
}
.product-list-page .collection h3 {
  padding: 0 0 3px;
  border-bottom: 1px solid #dedede;
  font-weight: bold;
}
.product-list-page .collection ul {
  padding: 0 0 6px;
  margin: 0;
}
.product-list-page .collection li {
  list-style-type: none;
  line-height: 22px;
}
.product-list-page .collection li.active {
  font-weight: bold;
}
.product-list-page .panel {
  border-radius: 2px;
}
.product-list-page .panel .panel-heading {
  padding: 4px 10px;
  background-color: #f8f8f8;
  line-height: 1em;
}
.product-list-page .panel .panel-heading h4.panel-title {
  text-transform: capitalize;
  margin: 0;
  font-weight: normal;
}
.view-selector {
  width: 73px;
  height: 24px;
  overflow: hidden;
}
.view-selector .view-three {
  float: left;
  margin-right: 4px;
  cursor: pointer;
}
.view-selector .view-three span {
  width: 10px;
  height: 21px;
}
.view-selector .selected span {
  background-color: #999999;
}
.view-selector span {
  display: block;
  float: left;
  overflow: hidden;
  background-color: #cccccc;
  margin-right: 1px;
}
.view-selector .view-five {
  cursor: pointer;
}
.view-selector .view-five span {
  width: 6px;
  height: 10px;
  margin-bottom: 1px;
}
.catalog-grid .tile,
.productRow .tile {
  padding-bottom: 10px;
}
.catalog-grid .tile .footer,
.productRow .tile .footer {
  /*position:absolute;
    bottom:5px;*/
}
.catalog-grid .tile .footer h3,
.productRow .tile .footer h3 {
  color: #2f343b !important;
  min-height: 2.5em;
}
.catalog-grid .tile .footer .tools .rate span.active,
.productRow .tile .footer .tools .rate span.active {
  color: #2ba8db;
}
.catalog-grid .tile .footer .tools .rate span.active.half,
.productRow .tile .footer .tools .rate span.active.half {
  opacity: 0.5;
}
.catalog-grid .tile .footer p,
.productRow .tile .footer p {
  color: #3e3f3a;
  line-height: 1.7;
}
.productRow {
  padding: 0;
}
.productRow .tile {
  max-width: none;
  margin-top: 0;
}
.productRow .lSSlideOuter img {
  max-height: none;
}
.shop-filters .filter-section:last-child {
  border-bottom: 2px solid #a3c756;
}
.lslide .footer {
  padding-top: 12px !important;
}
.lightbox-open {
  overflow: hidden;
}
body.lightbox-open,
.lightbox-open .navbar-fixed-top,
.lightbox-open .navbar-fixed-bottom {
  margin-right: 15px;
}
.lightbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}
.lightbox .fade .lightbox-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.lightbox .in .lightbox-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.lightbox .lightbox-dialog {
  z-index: 1050;
  width: auto;
  /*padding: 10px;*/
  margin-right: auto;
  margin-left: auto;
}
.lightbox .lightbox-dialog .lightbox-header {
  float: right;
}
.lightbox .lightbox-dialog .lightbox-header .close {
  margin-top: -2px;
}
.lightbox .lightbox-dialog .lightbox-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /**/
  padding: 10px;
  display: inline-block;
}
.lightbox .lightbox-dialog .lightbox-content .lightbox-caption {
  position: absolute;
  right: 8px;
  bottom: 8px;
  left: 10px;
  padding: 2%;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 0 #000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background: #000;
  background: rgba(0, 0, 0, 0.6);
}
.modal {
  z-index: 1041;
}
/*    margin-top: 30px;

    .similar-products {
        li {
            float: left;
            margin-right: 1px;

            a {
                display: block;
                height: 145px;
                vertical-align: middle;
            }
        }
    }

    .product {
        .main-product-image-slider {
            .full-screen {
                text-transform: uppercase;
                text-align: center;
                margin-top: 20px;
                display: block;
                color: black;
            }

            .easyzoom {
                max-width: 100%;
            }
        }

        .information {
            border: none;
            border-bottom: 1px solid #dedede;
            margin-bottom: 10px;

            .panel-body {
                padding-right: 0;
                padding-left: 0;
            }
        }

        .buttons {
            margin: 10px 0 25px;
        }

        .sizes {
            float: right;
            margin-top: 5px;

            select {
                padding: 3px;
                min-width: 150px;
                line-height: 25px;
                height: 25px;
                float: left;
                margin-right: 5px;
                border: 1px solid #cccccc;
            }
        }

        .colors {
            float: left;
            max-width: 320px;
            margin-bottom: 10px;
        }

        .quantity {
            width: 30px;
            float: left;
            margin-right: 10px;
        }

        .price {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: left;
        }
    }

    .title, .price {
        font-family: @fontSerif;
    }

    .panel {
        font-family: @fontSerif;
        border: none;
        margin-top: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        background-color: transparent;
        border-top: 1px solid #dedede;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .panel-heading {
        border: none;
        background-color: transparent;
        padding: 7px 0;
    }

    .panel-title {
        text-transform: uppercase;
        color: black;
        text-decoration: none;
    }
}

.productRow {
    .image {
        display: table-cell;
        padding-right: 15px;
        vertical-align: top;
        width: 190px;

        img {
            max-height: 252px;
        }
    }

    .productInfo {
        display: table-cell;
        vertical-align: top;
    }

	.price {
		font-size: 16px;
		font-family: @fontSerif;
	}
}*/
.catalog-single .price {
  font-size: 1.2em !important;
}
.catalog-single .rate span.active.half {
  opacity: 0.5;
}
.catalog-single #imageGallery .active {
  cursor: pointer;
}
.box {
  border: 1px solid #dedede;
  background-color: white;
  text-transform: capitalize;
  line-height: 21px;
  color: black;
  padding: 15px;
  margin-bottom: 20px;
}
.footer .icon {
  text-indent: -99999px;
}
.footer .copyright {
  margin-top: 20px;
  text-align: center;
}
.search {
  position: relative;
  padding: 0;
}
.search input[type=text] {
  margin-right: 15px;
  margin-top: 10px;
}
.search input[type=submit] {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 10;
  padding: 0 4px 0 4px;
  height: 25px;
  border: none;
  cursor: pointer;
}
.search-page .search-form {
  margin-bottom: 12px;
}
.search-page .search-form input[type=text] {
  height: 34px;
  line-height: 34px;
  width: 300px;
}
.search-page .name a {
  color: #3e3f3a;
}
.search-page .article-list .article {
  margin-bottom: 20px;
}
.search-page .article-list .article .name {
  font-size: 18px;
  font-family: "Georgia", "Serif";
  margin: 0 0 5px;
  text-align: left;
}
.search-page .article-list .article .name a {
  color: #000;
}
.search-page .article-list .article .text {
  line-height: 20px;
  font-size: 12px;
}
@media only screen and (max-width: 600px) {
  .search-page h1 {
    font-size: 20px;
  }
  .search-page .search-form {
    margin-bottom: 12px;
  }
  .search-page .search-form input[type=text] {
    height: 34px;
    line-height: 34px;
    width: 100% !important;
  }
}
.search-autocomplete {
  padding: 10px;
  min-width: 200px;
}
.search-autocomplete h3 {
  border-bottom: 1px solid #dedede;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.search-autocomplete .ui-menu-item.product {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.search-autocomplete .ui-menu-item.product a {
  padding: 0 0 0 80px;
  line-height: 20px;
  font-size: 1em;
}
.search-autocomplete .ui-menu-item.product img {
  float: left;
  vertical-align: top;
  margin-right: 10px;
  margin-left: -80px;
  max-height: 100px;
  max-width: 100px;
}
.search-autocomplete .ui-menu-item a {
  padding: 0;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0;
  font-weight: normal;
}
.receipt-page {
  padding: 10px;
}
.order-history,
.receipt-page {
  margin: 30px 0 50px;
}
.order-history h1,
.receipt-page h1 {
  margin-bottom: 15px;
}
.order-history .btn,
.receipt-page .btn {
  margin-left: 10px;
  margin-right: 0;
  padding: 2px 2%;
}
.order-history table td,
.receipt-page table td {
  cursor: pointer;
}
.order-details,
.receipt-page {
  background-color: #f8f8f8;
  border: 1px solid #dedede;
  margin-bottom: 15px;
}
.order-details > div:first-child,
.receipt-page > div:first-child {
  border-top: none;
}
.order-details .address-field .form-group.col-lg-6,
.receipt-page .address-field .form-group.col-lg-6 {
  width: 100%;
  padding-left: 0;
}
.order-details .total,
.receipt-page .total {
  border-top: 1px solid #dedede;
}
.order-details .header,
.receipt-page .header {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 28px;
}
.order-details > div:nth-child(2n),
.receipt-page > div:nth-child(2n) {
  background-color: white;
}
.order-details > div,
.receipt-page > div {
  border-top: 1px solid #dedede;
  padding-bottom: 5px;
  padding-top: 5px;
}
.order-details .product,
.receipt-page .product {
  padding: 10px 15px;
  position: relative;
}
.order-details .product .image,
.receipt-page .product .image {
  text-align: center;
}
.order-details .product .image img,
.receipt-page .product .image img {
  max-width: 100%;
}
.order-details .product .price,
.receipt-page .product .price {
  text-align: right;
  padding-right: 25px;
  font-size: 16px;
}
.order-details .product .description,
.receipt-page .product .description {
  border-top: 1px solid #dedede;
  margin: 10px 0 0 -10px;
  padding-top: 12px;
  font-size: 12px;
}
.order-details .product .description .col-sm-7,
.receipt-page .product .description .col-sm-7 {
  padding: 0;
}
.order-details .product .description .sku,
.receipt-page .product .description .sku {
  margin: 10px 0;
}
.order-details .product .buttons,
.receipt-page .product .buttons {
  position: absolute;
  bottom: 10px;
}
.order-details .name,
.receipt-page .name {
  font-size: 18px;
  word-wrap: break-word;
  padding-left: 5px;
  padding-right: 0;
}
.order-details .name a,
.receipt-page .name a {
  color: #3e3f3a;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.order-details .quantity,
.receipt-page .quantity {
  text-transform: lowercase;
}
.order-details .quantity input,
.receipt-page .quantity input {
  width: 32px;
  background-color: white;
}
.order-details .sums,
.receipt-page .sums {
  font-size: 14px;
  padding: 20px 15px;
}
.order-details .sums .text,
.receipt-page .sums .text {
  text-transform: uppercase;
}
.order-details .sums .value,
.receipt-page .sums .value {
  text-align: right;
  font-size: 16px;
}
.order-details .sums label,
.receipt-page .sums label {
  font-weight: normal;
}
.order-details .addresses h2,
.receipt-page .addresses h2 {
  margin-top: 0;
  font-size: 18px;
}
.order-details .addresses h3,
.receipt-page .addresses h3 {
  font-size: 16px;
}
.order-details .addresses label,
.receipt-page .addresses label {
  font-weight: normal;
}
.my-page h3 {
  font-size: 12px;
  margin-bottom: 5px;
}
/* Important for content areas */
/*.overflow-hidden {
    overflow: hidden !important;
}*/
a {
  cursor: pointer;
}
.nav {
  font-size: 14px;
}
.panel-title {
  font-size: 14px;
}
/*.btn {
    font-size: 12px;
}*/
.page {
  margin-bottom: 30px;
}
.article-page .pre-content {
  margin-top: 30px;
}
.drop-shadow {
  /*-webkit-box-shadow: 6px 0 10px -5px #999, -6px 0 10px -5px #999;
    -moz-box-shadow: 6px 0 10px -5px #999, -6px 0 10px -5px #999;
    box-shadow: 6px 0 10px -5px #999, -6px 0 10px -5px #999;*/
}
.navbar {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.navbar .navbar-brand {
  padding: 15px 15px;
}
.navbar .nav > li > a {
  font-size: 14px;
}
.navbar-default {
  font-size: 14px;
}
.navbar-main {
  background-color: white;
  color: #000;
  margin-bottom: 0px;
  border-bottom: none;
}
.navbar-main .nav > li > a:hover {
  color: #000;
}
.navbar-main .nav > li > a:visited {
  color: #98978b;
}
.navbar-sub {
  border-bottom: 6px solid #93c54b;
}
.navbar-sub .nav > li > a {
  color: #ffffff;
}
.dropdown-menu > li > a {
  color: #000000;
  font-size: 14px;
}
.container.drop-shadow,
.header .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.input-validation-error {
  border: 1px solid #f00 !important;
}
.field-validation-valid {
  display: none;
}
.field-validation-error {
  color: #f00;
}
.form-group.zip {
  margin-bottom: 0;
}
.menu-main {
  margin-bottom: 0;
}
#frontpage .block {
  margin-bottom: 20px;
}
#frontpage .productRow {
  margin-bottom: 5px;
}
#frontpage .alert {
  margin-bottom: 0;
}
#frontpage h2 {
  margin-top: 0;
}
.social-bar {
  margin-bottom: 20px;
}
.radio,
.checkbox {
  padding-left: 20px;
}
/*h1 {
    font-size: 32px;
    margin: 0 0 20px;
}

h2 {
    font-size: 22px;
}*/
.loader {
  text-align: center;
}
.my-page .form-group .firstname,
.my-page .form-group .lastname,
.my-page .form-group .phone,
.my-page .form-group .streetaddress,
.my-page .form-group .email,
.my-page .form-group .new-password,
.my-page .form-group .repeat-password,
.cart .addresses .form-group .firstname,
.cart .addresses .form-group .lastname,
.cart .addresses .form-group .phone,
.cart .addresses .form-group .streetaddress,
.cart .addresses .form-group .email,
.cart .addresses .form-group .new-password,
.cart .addresses .form-group .repeat-password {
  max-width: 190px;
}
/*input[type=text], input[type=password] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #cccccc;
    background-color: white;
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 0 0 10px;
}*/
.modal-content a.close,
.lightbox-dialog a.close {
  position: absolute;
  right: 5px;
  top: 5px;
  text-indent: -99999px;
  background: transparent url("../Images/close-button.png") scroll no-repeat 0 0;
  width: 37px;
  height: 37px;
  display: block;
  outline: none;
  z-index: 1051;
}
.login-page {
  padding: 20px;
  max-width: 500px;
}
.login-page h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.login-page h2 {
  font-size: 18px;
}
.login-page label {
  font-weight: normal;
}
.login-page .forgot {
  margin-right: 20px;
}
.login-page input[type=text],
.login-page input[type=password] {
  max-width: 300px;
}
.my-page {
  padding-top: 30px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #242520;
}
@media only screen and (max-width: 767px) {
  .article-page {
    padding-right: 0;
  }
}
/*TODO: This should be moved into separate less files*/
.shopping-cart table td.name,
.wishlist table td.name {
  font-size: 1em !important;
  max-width: 40%;
}
.shopping-cart table td.thumb,
.wishlist table td.thumb {
  width: 15% !important;
}
.wishlist table .price {
  width: 12% !important;
}
.shopping-cart table td.wishlist i,
.wishlist table td.wishlist i {
  display: inline-block;
  font-size: 1.5em;
  color: #2ba8db;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: 0 !important;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 5px 0 !important;
}
#reviews .rate span:before {
  font-family: "outlined-iconset";
  content: "\e018";
  background: none;
}
#reviews .rate span {
  display: inline-block;
  font-size: 1em;
  color: #b2b2b2;
}
#reviews .rate span.active {
  color: #2ba8db;
}
#reviews .rate span.active.half {
  opacity: 0.5;
}
#reviews .review {
  border-bottom: 1px solid #2ba8db;
}
#reviews .review h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.8em;
}
header .logo {
  max-width: 200px;
  top: 12px;
}
.switchers {
  left: 240px;
}
/*Bushido styles is messing with episerver navigation, set margin to 0 fix it*/
#epi-quickNavigator > li {
  margin-bottom: 0;
}
.filter-toggle {
  top: 240px;
}
tr.collapse.in {
  display: table-row;
}
.imageGallery {
  display: none;
}
.relatedProducts {
  display: none;
}
.cart-message {
  position: fixed;
  top: 150px;
  z-index: 10000;
}
.lSAction > .lSNext {
  z-index: 9;
}
.lslide .productRow .tile h3 {
  font-size: 16px;
}
.checkout .payment-method {
  padding: 14px 10px 5px 10px;
  margin-bottom: 24px;
}
/* Editor styles */
img.img-grayscale {
  -webkit-filter: grayscale(100%);
}
img.img-sepia-100 {
  -webkit-filter: sepia(100%);
}
img.img-sepia-50 {
  -webkit-filter: sepia(100%);
}
.tile .price-label.old-price-third {
  top: 94px !important;
}
.tile .price-label.member-price {
  background: #ff6f69;
  text-decoration: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.tile .price-label.member-price-secondary {
  top: 47px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
/*.catalog-single {

    .member-price-primary {
        background: @brand-danger;
        text-decoration: none;
    }

    .old-price {
        display: inline-block;
        margin: 0 15px 10px 0;
        font-size: 1.375em;
        color: #b2b2b2;
        font-weight: 900;
        text-decoration: line-through;
    }
}*/
/* Title Block */
h1.titleBlock,
h2.titleBlock {
  margin-bottom: 0;
}
.catalog-single .relatedProducts .old-price {
  margin: 0;
}
.pagelistblock .row {
  padding-bottom: 1em;
}
/* Used in the editor */
img.img-float-top-left {
  float: left;
  padding: 0 0.5em 0.5em 0;
}
img.img-float-top-right {
  float: right;
  padding: 0 0 0.5em 0.5em;
}
.formblock legend {
  font-size: 1em;
}
.notification-settings-page h4 {
  padding-top: 1em;
  border-bottom: 1px solid #aaa;
}