@using OxxCommerceStarterKit.Web.Helpers
@model OxxCommerceStarterKit.Web.Controllers.ProductSearchBlockController.ProductSearchResult

@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12">
        <h2>@Html.PropertyFor(p => p.Heading)</h2>
    </div>
</div>
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            @Html.Partial("ProductPartials/_ProductListView", product)
        </div>
    }

</div>