@using EPiServer.Core
@using OxxCommerceStarterKit.Web
@using OxxCommerceStarterKit.Web.Business.Rendering
@using OxxCommerceStarterKit.Web.Helpers
@model OxxCommerceStarterKit.Web.Models.Blocks.SliderBlock
@{
    Layout = null;
    bool isInEditMode = Html.IsInEditMode();
    string sliderName = ((IContent) Model).Name;
    sliderName = sliderName.Replace(" ", "-").ToLowerInvariant();
    
    //foreach (ContentAreaItem item in Model.SliderContent.Items)
    //{
    //    item.RenderSettings.Clear();
    //    item.RenderSettings["data-delay"] = 5;
    //    item.RenderSettings["class"] = "ms-slide";
    //}
    
}

@*
    This Slider Block uses the Master Slider jQuery editon
    http://www.masterslider.com/jquery/
     - it will show the different items based on the type
       of blocks that are dragged into it
*@
    @if (Model != null && Model.SliderContent != null && Model.SliderContent.Count > 0)
    {
        <section class="hero-slider">
            <div class="master-slider" id="hero-slider">
                @*
                    We use a custom content area renderer for rendering our
                    slider panels, as we cannot allow it to add it's containing
                    divs. We need to control that ourselves.
                *@
                @Html.DisplayFor(m => m.SliderContent, "SliderContentArea",
                    new
                    {
                        Tag = WebGlobal.ContentAreaTags.Slider,
                        sliderSettings = new SliderItemSettings(7, "ms-slide")
                    })
            </div>
        </section>
    }
