
@using EPiServer.Commerce.Marketing.Promotions
@using Mediachase.Commerce
@using OxxCommerceStarterKit.Web.Helpers;

@model IEnumerable<EPiServer.Commerce.Marketing.RewardDescription>
    
@foreach (var reward in Model)
{
    var orderDiscount = reward.Promotion as SpendAmountGetOrderDiscount;
    if (orderDiscount == null)
    {
         continue;
    }
    <div class="container">
        <div class="row">
            <div class="row">
                <h2>
                    @String.Format("Spend {0} more to receive", (orderDiscount.Condition.Amounts.First(x => x.Currency == Currency.USD).Amount - Html.GetCurrentCartTotal()).ToString("c"))
                </h2>
            </div>
            @Html.PropertyFor(m => reward.Promotion.Banner)
        </div>
    </div>
}
