@using EPiServer.Core
@using OxxCommerceStarterKit.Web.Models.Blocks

@model Chrome

<div id="helpDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="javascript:;" class="close" role="button">@Html.Translate("/common/layout/close_dialog")</a>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<div class="">
    <div class="container buttons">
        @Html.PropertyFor(p => p.GlobalFooterContent, new { EditContainerClass = "overflow-hidden", CssClass = "clearfix" })
    </div>
    <div class="container">
        <nav role="navigation" class="menu-footer">



            <div class="copyright row">
                @if (Model.FooterMenu != null)
                {
                    foreach (var link in Model.FooterMenu.ToList())
                    {
                        <div class="col-lg-2">
                            @Html.ContentLink(link)
                        </div>
                    }
                }

                @Html.PropertyFor(p => p.SocialMediaIcons, new { CustomTag = "", ChildrenCustomTagName = "", CssClass = "col-lg-6 social", ChildrenCssClass = "pull-left", EditContainerClass = "social-media" })

                </div>





        </nav>
    </div>
</div>
