@using OxxCommerceStarterKit.Core.Extensions
@using OxxCommerceStarterKit.Web.Models.PageTypes
@model EPiServer.SpecializedProperties.LinkItemCollection
@{
    // TODO: Move logic out of view and into Controller or Chrome
    // var settings = (Chrome)ViewBag.Chrome;
    Layout = null;
}
@if (Model != null)
{
    
    foreach (var link in Model)
    {
        <li>
            @Html.ContentLink(link)
        </li>
    }

}
