@model ProductListViewModel
@{
    Layout = null;
    bool hasDiscount = string.IsNullOrEmpty(Model.DiscountPriceString) == false;
    bool hasCustomerClubPrice = string.IsNullOrEmpty(Model.CustomerClubMemberPriceString) == false;
}
<div class="badges">

    @if (Model.InStock == false)
    {
        <span class="out"></span>
    }
    
    @if (Model.CustomerPriceAvailable)
    {
        <span class="sale"></span>
    }
    else if (Model.DiscountPriceAvailable)
    {
        <span class="sale"></span>
    }
</div>
