@using OxxCommerceStarterKit.Web.Helpers
@model OxxCommerceStarterKit.Web.Controllers.WineProductSearchBlockController.WineProductSearchResult

@{
    Layout = null;
}


<div class="row">
    <h2>@Html.PropertyFor(p => p.Heading)</h2>
</div>
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            @Html.Partial("ProductPartials/_ProductListView", product)
        </div>
    }

</div>